html {
  font-size: 10px;
}

body {
  // background: $purple;
  // background:$grad;
  background:#efefef;
  &:before {
    content: '';
    display: block;
    background: $grad;
    // height: 20px;
    width: 100%;
  }
}

.topHeader{
  width: 100%;
  background: #ffffff;
  border-bottom: 3px solid #efefef;
}
.topHeaderUp{
  display: flex;
  height: 40px;
  width: 96%;
  margin: auto;
  // border-bottom: 1px solid #efefef;

}
.topnav{
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
}
.topnav1{
  font-size: 2rem;
  padding-top: 4px;
  flex:1 1 600px;
}
.topnav2{
  flex:1 1 500px;
}
.navHeader{
  width: 100%;
  margin-left: 10px;
}
nav{
  min-height: 40px;
  // max-height: 100px;

}
.navbar-nav li.nav-item{
  margin: 0 6px;
  text-transform: uppercase;
}

.navbar{
  padding: 5px 0 0;
}


.inner {
  max-width:900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}
