html {
  font-size: 10px;
}

body {
  background: $purple;
  background:white;
  // background:#efefef;
  &:before {
    content: '';
    display: block;
    background: $grad;
    // height: 20px;
    width: 100%;
  }
}
.topHeader{
  height: 50px;
  width: 100%;
  background: white;
  color: #77b800;
  font-weight: bold;
  align-items: center;
  text-align: center;
  padding: 10px;
}
nav{
  min-height: 50px;
  height: 100%;
  border-bottom: 3px solid #efefef;
}
.navbar{
  padding-top: 5px;
}
nav__item .nav__link .nav-item.dropdown{
  flex:2;
}
// .navbar .navbar-toggleable-md .navbar-light{
//   flex:1;
// }
// .navbar-light{
//   border-bottom: 5px solid #efefef;
// }

// .navbar, .navbar-light{
//   display: flex;
//   list-style: none;
//   margin: 0;
//   justify-content: space-between;
//   background: white;
//   min-height: 50px;
//   height: 100%;
// }
.navbar-toggler-icon {
  width: 27px;
  margin: 4px;
  height: 23px;
}
// .navbar-light, .navbar-nav, .active>.nav-link,{
//   color: white;
//
// }
// .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
//   color: white;
//   font-weight: bold;
// }
// .navbar-nav .nav-item .nav-link, .nav-link, .navbar-brand{
//   color: #77b800;
//   border-right: 1px solid rgba(255,255,255,0.1);
//   display: block;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   transition: transform 0.2s;
//   &:hover, .active {
//     color: $black;
//     border-bottom-color: rgba(0,0,0,0.2);
//     border-right-color: rgba(0,0,0,0.05);
//     svg {
//       transform: scale(1.2)
//     }
//   }
// }
.dropdown-item{
  font-size: 14px;
  color: #77b800;
  padding: 10px 30px 5px 30px;
}



.inner {
  max-width:900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}
